.expense-input-field-size{
    height: 35px;
    width: 250px;
    font-size: medium;
}

.expense-form-cont{
    position: relative;
    height: calc(100% - 70px);
    width: 100%;
}

.expense-form-wrap{
    max-height: 100%;
    min-height: 50%;
    padding-left: 30px;
}

.form-field-margin{
    margin: 20px 0px;
}

.share-type-selected{
    height: 30px;
    border: 1px solid;
    width: fit-content;
    padding: 2px 5px;
    background: gainsboro;
    border-radius: 5px;
}

.expense-split-detail-cont{
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
}

.split-member-select-container{
    width: 150px;
}

.expense-actions-cont{
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}