.expense-input-field-size{
    height: 35px;
    width: 250px;
}

.expense-form-cont{
    position: relative;
    height: calc(100% - 70px);
    width: 100%;
}

.share-type-selected{
    border: 1px solid;
    width: fit-content;
    padding: 2px;
    background: gainsboro;
    border-radius: 5px;
}