.main-header{
    background-color: #007BFF;
    color: #fff;
    margin: auto;
}

.brand-name{
    font-weight: 600;
    padding: 5px;
    font-size: var(--brand-font);
}
.main-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex: 1;
}