.share-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.share-cont{
    width: 70%;
    height: 70%;
    background-color: white;
    margin: auto;
}

.share-list-cont {
    
}

.split-item-cont{
    display: flex;
    margin: 3px;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    input[type=checkbox]{
        height: 15px;
        width: 15px;
    }
}

.share-footer-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    button{
        padding: 2px;
    }
}

.share-summary{
    flex: 1;
}

.share-editor-input-field-size{
    width: 40px;
}

.share-action-cont{
    display: flex;
    height: 25px;
    justify-content: space-evenly;
    margin: 15px 0px;
    button{
        padding: 3px;
    }
}