.share-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.share-cont{
    width: 70%;
    height: 70%;
    background-color: white;
    margin: auto;
}

.share-list-cont {
    
}

.split-item-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-footer-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-summary{
    flex: 1;
}