.share-cont{
    width: 70%;
    margin: auto;
}

.share-list-cont {
    
}

.split-item-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-footer-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-summary{
    flex: 1;
}