:root{
    --seconday-color: #7a9e9f;
    --primary-color: #B8D8D8;
    --asset-color: #eef5db;
}

.main-content-area{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    margin: auto;
}

.m_2{
    margin: 2px;
}

.p_3{
    padding: 3px;
}

.p_5{
    padding: 5px;
}

.py_5{
    padding: 0px 5px;
}

.f_size_s{
    font-size: small;
}

.f_size_lr{
    font-size: 30px;
    height: 30px;
    line-height: 28px;
}

.f_weight_b{
    font-weight: bold;
}

.t_align_c{
    text-align: center;
}

.disp_flex{
    display: flex;
}

.v_align_flex{
    display: flex;
    justify-content: center;
}

.flex_d_column{
    flex-direction: column;
}

.flex_d_row{
    flex-direction: row;
}

.flex_align_center{
    align-items: center;
}

ul.no-list-style{
    list-style: none;
}

.clickable{
    cursor: pointer;
}

//Color related classes
.positive-color{
    color: green;
}

.negative-color{
    color: red;
}

.informative-color{
    color: orange;
}

//Component style related classes
input.std-style{
    border: 0;
    border-bottom: 1px solid gray;
    &:focus{
        outline: 0;
        outline-color: transparent;
        border-bottom: 1px solid black;
    }
}