:root{
    --seconday-color: #7a9e9f;
    --primary-color: #B8D8D8;
    --asset-color: #eef5db;
}

.main-content-area{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    margin: auto;
}